
@media screen and (max-width: 1024px) {
  body {
    min-width: 320px;
  }
  header.fixed {
    padding: 12px 15px;
  }
  #nav_btn{
    display: block;
    position: fixed;
    right:126px;
    top:12px;
    background: #000;
    width:40px;
    height:40px;
    z-index: 111;
  }

  input[id="nav_btn"]:checked + label + .snb {
    opacity: 1;
    visibility: visible;
  }
  nav {
    opacity: 0;
    visibility: hidden;
    top: 64px;
    left: 0;
    width: 100%;
    height:calc(100% - 64px);
    box-sizing: border-box;
    background: rgba(0,0,0,0.92);
    overflow-y: auto;
  }
  nav ol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    padding:5vh 0;

  }
  nav ol li{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav ol li a {
    flex: 1;
    box-sizing: border-box;
    padding:12px 0;
    font-size: 2rem;
    text-align: center;
    color:var(--white);

  }
  nav ol li a.mPS2id-highlight{
    background: var(--purple-color);

  }

  /* top banner */
  #top-banner img {
    height: 40px;
    width: auto;
  }

  .content{
    padding:80px 10px;
  }
  h4{
    font-size: 2rem;
    margin-bottom: 10px;
  }


#banner_image {
  width: 400px;
}

.banner_content {
  position: absolute;
  left: 35%;
  top: 165px;
}

.hello {
  height: 100px;
}

.logos {
  height: 300px;
}

.discord {
  height: 150px;
}

.join_discord {
  z-index: 12;
  position: absolute;
}


.glow-on-hover {
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  opacity: 60%;
  z-index: 20;
  border-radius: 10px;
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  background-size: 400%;
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  width: 100%;
  height: 100%;
}

.glow-on-hover:hover {
  opacity: 1;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

@media screen and (max-width: 3000px) {
  .banner_content {
    left: 34%;
  }
}

@media screen and (max-width: 2500px) {
  .banner_content {
    left: 30%;
  }
}

@media screen and (max-width: 2150px) {
  .banner_content {
    left: 28%;
  }
}

@media screen and (max-width: 1950px) {
  .banner_content {
    left: 26%;
  }
}

@media screen and (max-width: 1780px) {
  .banner_content {
    left: 22%;
  }
}

@media screen and (max-width: 1500px) {
  .banner_content {
    left: 21%;
    top: 140px
  }
  #banner_image {
    width: 325px;
  }
  .hello {
    height: 80px;
  }
  .logos {
    height: 250px;
  }
  .discord {
    height: 132px;
  }
}

@media screen and (max-width: 1150px) {
  .banner_content {
    left: 22%;
    top: 110px;
    margin-top: 295px;
  }
  #banner_image {
    width: 270px;
  }
  .hello {
    height: 55px;
  }
  .logos {
    height: 185px;
  }
  .discord {
    height: 110px;
  }
}

@media screen and (max-width: 901px) {
  .banner_content {
    left: 12%;
    top: 110px;
    margin-top: 244px;
  }
  #banner_image {
    width: 270px;
  }
  .hello {
    height: 55px;
  }
  .logos {
    height: 185px;
  }
  .discord {
    height: 110px;
  }
}

@media screen and (max-width: 760px) {
  .banner_content {
    left: 13%;
    top: 110px;
    margin-top: 237px;
  }
  #banner_image {
    width: 230px;
  }
  .hello {
    height: 43px;
  }
  .logos {
    height: 173px;
  }
  .discord {
    height: 95px;
  }
}

@media screen and (max-width: 688px) {
  .banner_content {
    left: 10%;
  }
}

@media screen and (max-width: 660px) {
  .banner_content {
    left: 25%;
    top: 110px;
    margin-top: 95px;
  }
  #banner_image {
    width: 120px;
  }
  .hello {
    height: 25px;
  }
  .logos {
    height: 80px;
  }
  .discord {
    height: 60px;
  }
}

@media screen and (max-width: 545px) {
  .banner_content {
    left: 20%;
    top: 110px;
    margin-top: 95px;
  }
  #banner_image {
    width: 120px;
  }
  .hello {
    height: 25px;
  }
  .logos {
    height: 80px;
  }
  .discord {
    height: 60px;
  }
}

@media screen and (max-width: 480px) {
  .banner_content {
    left: 17%;
    top: 110px;
    margin-top: 95px;
  }
  #banner_image {
    width: 120px;
  }
  .hello {
    height: 25px;
  }
  .logos {
    height: 80px;
  }
  .discord {
    height: 60px;
  }
}

@media screen and (max-width: 440px) {
  .banner_content {
    left: 12%;
  }
}

@media screen and (max-width: 380px) {
  .banner_content {
    left: 6%;
  }
}

  /* home */
  #home .content {
    flex-direction: column;
    height: 100%;
  }
  #home #game_movie{
    width:100%;
    max-width: 500px;
  }

  #home #game_movie video{
    /* border-radius: 10px; */
    overflow: hidden;
    height: 642px;
    border: solid 1px white;
  }
  
  @media screen and (max-width: 1500px) {
    #home #game_movie video{
        height: 502px;
    }
  }
  
  @media screen and (max-width: 1150px) {
    #home #game_movie video{
        height: 400px;
        margin-top: 250px;
    }
  }
  
  @media screen and (max-width: 760px) {
    #home #game_movie video{
        margin-top: 250px;
        height: 350px;
    }
  }
  
  @media screen and (max-width: 660px) {
    #home #game_movie video{
        margin-top: 250px;
        height: 250px;
    }
  }
  
  @media screen and (max-width: 660px) {
    #home #game_movie video{
        margin-top: 120px;
        height: 193px;
    }
  }

  #home .textarea{
    width:100%;
    margin-left: 0;
    margin-top: 30px;
    text-align: center;
  }

  @keyframes home_move1 {
    0% {
      left: 20%;
      top: 18%;
      transform:translate(-50%, -50%);
    }
    100% {
      left: 20.5%;
      top: 17.5%;
      transform:translate(-50%, -50%);
    }
  }
  @keyframes home_move2 {
    0% {
      top: 20vh;
      right:18%;
      transform:translate(50%, -50%) scaleX(-1);
    }
    100% {
      top: 19vh;
      right:17%;
      transform:translate(50%, -50%) scaleX(-1);
    }
  }
  #home .bg_obj_wrap span.bg_obj3 {
    display: none;
  }
  #home .bg_obj_wrap span.bg_obj4 {
    left:-30px;
  }
  #home .bg_obj_wrap span.bg_obj6 {
    width: 50%;
  }
  @keyframes home_move4 {
    0% {
      right: -10%;
    }
    100% {
      right: -9.5%;
    }
  }



  /* Introduction */
  .section2 .content{
    flex-direction: column;
    padding:80px 10px 180px 10px;
    text-align: center;
  }
  .section2 .textarea{
    width:100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .section2 .imgarea{
    width:100%;
    max-width: 500px;
  }
  .section2 .bg_obj7{
    width:22%;
  }
  .section2 .bg_obj8{
    width:85%;
    left:-10%;
  }



  /* Tank_NFT */
  .section3 .content ul{
    width:95%;
    margin:0 auto;
  }
  .section3 .content ul li{
    float: left;
    width:50%;
  }


  /* Rental_Shop */
  .section4 .content{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding:80px 10px;
    text-align: center;
  }
  .section4 .textarea{
    width:100%;
    margin-left: 0;
    margin-bottom: 30px;
  }
  .section4 .imgarea{
    width:100%;
    min-width: 300px;
    max-width: 500px;
  }




  /* Repair_Shop */
  .section5{
    height: 80vh;
  }
  .section5 .bg_obj_wrap span.bg_obj9 {
    width: 20%;
    top: 0;
  }
  .section5 .bg_obj_wrap span.bg_obj11 {
    left:42%;
  }
  .section5 .bg_obj_wrap span.bg_obj12 {
    bottom: 18vh;
    left:80%;
  }
  .section5 .bg_obj_wrap span.bg_obj14 {
    bottom: 3vh;
    left:80%;
  }


  .section5 .bg_obj_wrap span.bg_obj18 {
    bottom: -3%;
    right: 66%
  }
  .section5 .bg_obj_wrap span.bg_obj19 {
    right:40%;
  }
  .section5 .bg_obj_wrap span.bg_obj20 {
    right:18%;
  }



  /* R&D_Center */
  .section6 .content > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin:40px 0;
  }
  .section6 .content > div img{
    width:90%;
    min-width: 300px;
    max-width: 500px;
    margin-bottom: 16px;
  }
  .section6 .content > div .textarea{
    width:90%;
    min-width: 300px;
    max-width: 500px;
  }
  .section6 .content > div .textarea h4{
    text-align: center;
  }
  .section6 .content > div .textarea_right{
    margin-left: 0;
  }
  .section6 .content > div .textarea_left{
    margin-right: 0;
  }
  #Mutation{
    flex-direction: column-reverse;
  }


  /* Play_Mode */
  .section7 .content .textarea_wrap{
    flex-direction: column;
    justify-content: center;
    width:90%;
    max-width: 500px;
    margin-top: 60px;
    color:var(--black);
  }
  .section7 .content .textarea_wrap li{
    background: #fff;
    flex: 1;
    margin:0;
    margin-bottom: 60px;
  }
  .section7 .content .textarea{
    margin-top: -20px;
    padding:0 15px 30px 15px;
  }




  .que {
    width: 100%;
    max-width: 700px;
    padding: 18px 15px;
    overflow: auto;
  }
  .que::before {
    width: 6%;
  }
  .que > span {
    width: 90%;
  }
  .anw {
    width: 100%;
    max-width: 700px;
    padding: 0 15px 18px 15px;
  }
  .anw::before {
    width: 6%;
  }
  .anw > span {
    width: 90%;
    font-size: var(--font-size-16);
  }


  /* Team */
  .section10  .content .textarea_wrap{
    flex-direction: column;
    justify-content:center;
    width:90%;
    max-width: 500px;
    margin-top: 30px;
  }
  .section10  .content .textarea_wrap li{
    margin-bottom: 40px;
  }
  .section10  .content .imgarea{
    width:100%;
    height:auto;
    margin-bottom: 10px;
    padding:0 20px;
  }
  .section10  .content .imgarea img{
    height:auto;
    width:100%;
  }
}
